# Importing libraries

In [31]:
import requests
import json
import pandas as pd

# Requesting data using open api as an example

In [28]:
response = requests.get("http://api.open-notify.org/iss-now.json")
print(response.status_code)

200

# Dumping the data as a json format for easier read and implementation

In [29]:
dictionary = json.dumps(response.json(), sort_keys = True, indent = 4)
print(dictionary)

{
    "iss_position": {
        "latitude": "38.6786",
        "longitude": "-153.9507"
    },
    "message": "success",
    "timestamp": 1624972091
}

# Creating a data frame

In [34]:
df = pd.read_json(dictionary)
df

           iss_position  message           timestamp
latitude        38.6786  success 2021-06-29 13:08:11
longitude     -153.9507  success 2021-06-29 13:08:11

# From here I could run my analysis